input#tweetfeature-tweet.form-control(type='text', placeholder='Tweet URL')
button#tweetfeature-change-tweet.btn.btn-xs.btn-primary.form-control(type='button', style='margin-top: 4px;') Change Tweet
.btn-group.btn-group-justified(style='margin-top: 4px;')
    .btn-group(style='padding-right:2px;')
        button#tweetfeature-show.btn.btn-xs.btn-success(type='button') Show
    .btn-group(style='padding-left:2px;')
        button#tweetfeature-hide.btn.btn-xs.btn-danger(type='button') Hide
input#tweetfeature-time.form-control(type='number', style='margin-top: 4px;', placeholder='Timer Length (s)')
button#tweetfeature-display-timed.btn.btn-xs.btn-primary.form-control(type='button') Display On Timer
