<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/view/tweetfeature/tweetfeature.css" rel="stylesheet"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
    <script src="/view/tweetfeature/tweetfeature.js"></script>

    <!-- NodeCG API setup script. MUST BE THE LAST <script> TAG ON THE PAGE! -->
    <script src="/viewsetup.js"></script>
</head>
<body>
<div id="tweetfeature">
    <div id="tweetfeature-title">
        &nbsp;<i class="fa fa-twitter"></i>&nbsp;From Twitter...
    </div>
    <div id="tweetfeature-tweet-container" class="invisible">
        <div id="tweetfeature-tweet">
        </div>
    </div>
</div>
</body>
</html>
