#tweetfeature {
  position: absolute;
  bottom: 0;
  left: -320px;
  width: 320px;
}

#tweetfeature-title {
  background-color: #55acee;
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 20px;
  font-size: 20px;
  color: #f4f4f5;
}

#tweetfeature-tweet-container {
  background-color: white;
  height: 0;
  overflow: hidden;
}

#tweetfeature-tweet-container.visible {
  height: auto;
}

#tweetfeature-tweet-container.invisible {
  height: 0;
}
